In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("whether.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [9]:
whether_data = {'day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],'temperature':[32,35,28,24,32,31],'windspeed':[6,7,2,7,4,2],'event':['Rain','Sunny','Snow','Snow','Rain','Sunny']}
df = pd.DataFrame(whether_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [10]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [13]:
df.head(6)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [14]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [15]:
rows,columns = df.shape

In [16]:
rows

6

In [18]:
columns

4

In [19]:
df.shape

(6, 4)

In [23]:
df[1:4]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow

In [24]:
type(df[['day']])

pandas.core.frame.DataFrame

In [25]:
type(df['day'])

pandas.core.series.Series

In [26]:
df['day']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [27]:
df[['day']]

        day
0  1/1/2017
1  1/2/2017
2  1/3/2017
3  1/4/2017
4  1/5/2017
5  1/6/2017

In [28]:
df[['day','temperature']]

        day  temperature
0  1/1/2017           32
1  1/2/2017           35
2  1/3/2017           28
3  1/4/2017           24
4  1/5/2017           32
5  1/6/2017           31

In [29]:
df['temperature'].max()

np.int64(35)

In [30]:
df['temperature']>32

0    False
1     True
2    False
3    False
4    False
5    False
Name: temperature, dtype: bool

In [32]:
df[df['temperature']>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [33]:
df['day'][df['temperature']==df['temperature'].max()]

1    1/2/2017
Name: day, dtype: object

In [34]:
df[df['temperature']==df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [35]:
df['temperature'].std()

np.float64(3.8297084310253524)

In [36]:
df.event.max()

'Sunny'

In [37]:
df['event'].max()

'Sunny'

In [38]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [39]:
df.describe(include='all')

             day  temperature  windspeed event
count          6     6.000000   6.000000     6
unique         6          NaN        NaN     3
top     1/1/2017          NaN        NaN  Rain
freq           1          NaN        NaN     2
mean         NaN    30.333333   4.666667   NaN
std          NaN     3.829708   2.338090   NaN
min          NaN    24.000000   2.000000   NaN
25%          NaN    28.750000   2.500000   NaN
50%          NaN    31.500000   5.000000   NaN
75%          NaN    32.000000   6.750000   NaN
max          NaN    35.000000   7.000000   NaN

In [41]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [43]:
df.set_index('day',inplace=True)

In [44]:
df.head()

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain

In [45]:
df.index

Index(['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'], dtype='object', name='day')

In [46]:
df.loc['1/2/2017']

temperature       35
windspeed          7
event          Sunny
Name: 1/2/2017, dtype: object

In [47]:
df.reset_index(inplace=True)

In [48]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [49]:
df.set_index('event',inplace=True)

In [50]:
df.head()

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4

In [51]:
df.loc['Snow']

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7