In [17]:
#Using CSV
#Using Excel
#Using Dictionary
#Using tuple list
#Using list of dictionaries

In [18]:
import pandas as pd

In [19]:
df = pd.read_csv("whether.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [20]:
whether_data = {'day':['1/1/2017','1/2/2017','1/3/2017'],
                'temperature':[32,35,28],'windspeed':[6,7,2],'event':['Rain','Sunny','Snow']
                }
df = pd.DataFrame(whether_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow