In [7]:
#Using CSV
#Using Excel
#Using Dictionary
#Using tuple list
#Using list of dictionaries

In [8]:
import pandas as pd

In [16]:
df = pd.read_csv("whether.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [10]:
whether_data = {'day':['1/1/2017','1/2/2017','1/3/2017'],
                'temperature':[32,35,28],'windspeed':[6,7,2],'event':['Rain','Sunny','Snow']
                }
df = pd.DataFrame(whether_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [14]:
went_data = [('1/1/2017',32,6,'Rain'),
             ('1/2/2017',35,7,'Sunny'),
             ('1/3/2017',28,2,'Snow')
             ]
df = pd.DataFrame(data=went_data,columns=['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [15]:
weather_data = [
    {'data':'1/1/2017','temperature':32,'windspeed':6,'event':'Rain'},
    {'data':'1/2/2017','temperature':35,'windspeed':7,'event':'Sunny'},
    {'data':'1/3/2017','temperature':28,'windspeed':2,'event':'Snow'}
]
df = pd.DataFrame(data=weather_data,columns=['data','temperature','windspeed','event'])
df

       data  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow