In [1]:
import pandas as pd

In [3]:
data = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [4]:
data = pd.DataFrame([1,2,3,4,5])
data

   0
0  1
1  2
2  3
3  4
4  5

In [6]:
lst = [[1,2,3,4,5],[6,7,8,9,10]]
df = pd.DataFrame(lst)
df

   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10